@foreach (var item in ViewData["scenery"] as MapAPIDemo.Models.Place.Scenery[])
{
    @foreach (var item2 in item.Result)
    {
        <div class="thumbnail" onclick="MapSearch(this)">
            <img width="242px" height="200px" src="@item2.Imgurl" alt="@item2.Title">
            <div class="caption">
                <h3>@item2.Title</h3>
                <p>@item2.Address</p>
            </div>
        </div>
    }
}

