@{
    Layout = "_Layout";
}


<main>

    <article>
        <section id="templates">
            <div class="container-fluid">
                <div class="row">
                    <div class="templates-list templates-grid" data-component="templates-list">
                        <a class="card template-card" href="/Home/Map">
                            <img class="template-icon" style="background-color:#3399DD" alt="Contacts" src="//files.ninoxdb.de/599694f360418b1043550534.png">
                            <h3 class="template-name">查看地图</h3>
                            <p class="template-descr">只是看地图</p>
                        </a>
                        <a class="card template-card" href="/Home/Scene">
                            <img class="template-icon" style="background-color:#56BC8A" alt="Meetings" src="//files.ninoxdb.de/599695ff60418b104355053c.png">
                            <h3 class="template-name">景点一览</h3>
                            <p class="template-descr">除了地图还要有景点</p>
                        </a>
                        <a class="card template-card" href="/Home/Hotel">
                            <img class="template-icon" style="background-color:#A77DC2" alt="Events" src="//files.ninoxdb.de/599694de60418b1043550533.png">
                            <h3 class="template-name">酒店预订</h3>
                            <p class="template-descr">除了地图还要有酒店</p>
                        </a>
                        <a class="card template-card" href="/Home/Ticket">
                            <img class="template-icon" style="background-color:#56BC8A" alt="Custom CRM" src="//files.ninoxdb.de/59bfdb32244b0e67ed2585d8.png">
                            <h3 class="template-name">票价查询</h3>
                            <p class="template-descr">调一下接口试试，拓展功能</p>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </article>
</main>