@model MapAPIDemo.Models.Location.Location;
@{
    Layout = "_Layout";
}
<main>

    <div style="width: 1200px;height: 50px;margin-top:118px;">
        <div id="r-result" style="display:inline; width:600px;height:50px">
            From:<input type="text" id="suggestId" size="20" class="form--input--input" style="width:300px;" />
            <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
        </div>

        <div id="r-result2" style="display:inline; width:600px;height:50px">
            To:<input type="text" id="suggestId1" size="20" class="form--input--input" style="width:300px;" />
            <div id="searchResultPanel1" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
        </div>
        <div style="display: inline;">
            <button class="c-button" id="search">查询 </button>
        </div>
    </div>

    <div id="allmap" style="width:100%;height:500px;overflow:hidden;margin:5px;">
    </div>





</main>
<script type="text/javascript">
    //百度地图API功能
    var map;
    var local;

    // 百度地图API功能
    function G(id) {
        return document.getElementById(id);
    }

    var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
        {
            "input": "suggestId"
            , "location": map
        });

    var ac2 = new BMap.Autocomplete(    //建立一个自动完成的对象
        {
            "input": "suggestId1"
            , "location": map
        });

    ac.addEventListener("onhighlight", function (e) {  //鼠标放在下拉列表上的事件
        var str = "";
        var _value = e.fromitem.value;
        var value = "";
        if (e.fromitem.index > -1) {
            value = _value.province + _value.city + _value.district + _value.street + _value.business;
        }
        str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

        value = "";
        if (e.toitem.index > -1) {
            _value = e.toitem.value;
            value = _value.province + _value.city + _value.district + _value.street + _value.business;
        }
        str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
        G("searchResultPanel").innerHTML = str;
    });

    ac2.addEventListener("onhighlight", function (e) {  //鼠标放在下拉列表上的事件
        var str = "";
        var _value = e.fromitem.value;
        var value = "";
        if (e.fromitem.index > -1) {
            value = _value.province + _value.city + _value.district + _value.street + _value.business;
        }
        str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

        value = "";
        if (e.toitem.index > -1) {
            _value = e.toitem.value;
            value = _value.province + _value.city + _value.district + _value.street + _value.business;
        }
        str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
        G("searchResultPanel1").innerHTML = str;
    });
    var myValue;
    ac.addEventListener("onconfirm", function (e) {    //鼠标点击下拉列表后的事件
        var _value = e.item.value;
        myValue = _value.province + _value.city + _value.district + _value.street + _value.business;
        G("searchResultPanel").innerHTML = "onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;

        setPlace();
    });

    ac2.addEventListener("onconfirm", function (e) {    //鼠标点击下拉列表后的事件
        var _value = e.item.value;
        myValue = _value.province + _value.city + _value.district + _value.street + _value.business;
        G("searchResultPanel1").innerHTML = "onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;

        setPlace();
    });

    function setPlace() {
        map.clearOverlays();    //清除地图上所有覆盖物
        function myFun() {
            var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
            
            map.centerAndZoom(pp, 18);
            map.addOverlay(new BMap.Marker(pp));    //添加标注
        }
        var local = new BMap.LocalSearch("@Model.Content.AddressDetail.City", { //智能搜索
            onSearchComplete: myFun
        });
        local.search(myValue, { forceLocal: true });
    }

    function loadJScript() {
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "http://api.map.baidu.com/api?v=2.0&ak=@MapAPIDemo.Tools.AK.ak&callback=init";
        document.body.appendChild(script);
    }

    function init() {
        map = new BMap.Map("allmap");            // 创建Map实例
        var point = new BMap.Point(@Model.Content.Point.X, @Model.Content.Point.Y); // 创建点坐标
        map.centerAndZoom(point, 15);
        map.enableScrollWheelZoom();                 //启用滚轮放大缩小
        $("#search").click(search);
    }
    function search()
    {
        var walking = new BMap.WalkingRoute(map, { renderOptions: { map: map, autoViewport: true } });
        walking.search($("#suggestId").val(), $("#suggestId1").val());
        return false;
     }

    window.onload = loadJScript;  //异步加载地图
</script>
